.post {
    border: 1px solid purple;
    border-radius: 10px;
    cursor: pointer;
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 0 20px;
    transition: all 0.4s;
}

.post:hover {
    transform: scale(1.05);
}

.post:last-child {
    margin-bottom: initial;
}

.post__title {
    text-transform: uppercase;
}

.post__text {
    font-size: 18px;
}