.post {
    border: 3px solid green;
    height: 100%;
    max-width: 1000px;
    min-height: 600px;
    padding: 0 20px;
    margin: 0 auto;
}

.post__title {
    text-transform: uppercase;
}

.post__author {
    color: gray;
}

.post__text {
    font-size: 18px;
}